.BookForm {
  position: relative;
  background-color: #22b25c;
  border-radius: 12px;

  @media (min-width: 768px) {
    width: 630px;
    padding: 30px 40px;
  }

  &.successForm {
    @media (min-width: 768px) {
      padding: 55px 65px 90px;
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-radius: 12px;
  background-color: rgba(#000, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookSuccess {
  margin: 40px 0 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.subtitle {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
}

.wrapper {
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}

.carInfo {
  position: relative;
  flex-basis: 258px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #239b53;
}

.imageWrap {
  width: 260px;
  border-radius: 12px;
  line-height: 0;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.contentWrap {
  padding: 15px 15px 18px;
}

.carName {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
}

.carDescription {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.presentationIcon {
  position: absolute;
  top: -25px;
  right: -15px;
}

.formContent {
  flex-grow: 1;
  padding-left: 30px;
}

.bookInfo {
  margin: 10px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  user-select: none;
}

.form {
}

.inputWrap {
  position: relative;

  & + .inputWrap {
    margin-top: 15px;
  }
}

.inputIcon {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
}

.inputPlaceholder {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  pointer-events: none;
  opacity: 0.5;
}

.input {
  padding: 16px 16px 16px 18px;
  width: 100%;
  font-family: TTNorms, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  border-radius: 8px;
  background-color: rgba(#26854c, 0.5);
  border: 1px solid rgba(#26854c, 0.5);

  &:focus {
    outline: none;
  }
}

.phone {
  width: 200px;
}

.inputError {
  margin-top: 8px;
  font-size: 14px;
  color: #f44336;
}

.emptyError {
  height: 24px;
}

.bookButton {
  margin-top: 20px;
  max-width: 200px;
  text-transform: initial;
}

.acceptRules {
  margin: 40px 0 0;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
}
