@font-face {
  font-family: 'TTNorms';
  src: local("TTNorms"),
    url('fonts/TTNorms-Regular.woff2') format('woff2'),
    url('fonts/TTNorms-Regular.woff') format('woff'),
    url('fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: local("TTNorms"),
    url('fonts/TTNorms-Medium.woff2') format('woff2'),
    url('fonts/TTNorms-Medium.woff') format('woff'),
    url('fonts/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: local("TTNorms"),
    url('fonts/TTNorms-Bold.woff2') format('woff2'),
    url('fonts/TTNorms-Bold.woff') format('woff'),
    url('fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: TTNorms, Arial, sans-serif;
  font-size: 16px;
}
