.header {
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    padding-top: 22px;
    padding-bottom: 20px;
  }
}

.filledHeader {
  background-color: #e8f7ef;
}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.content {
  display: flex;
  align-items: center;
}

.logo {
  line-height: 0;
  transition: 0.2s ease-in;
  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

.link {
  margin-left: 30px;
  font-weight: 500;
  color: #7e7e7e;
  text-decoration: none;
  transition: 0.2s ease-in;

  &:hover {
    color: #000;
  }

  &:focus {
    color: #222;
    outline: none;
  }
}

.activeLink {
  color: #000;
}

.spacer {
  flex-grow: 1;
}

.phone,
.personal {
  margin-left: 10px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: 0.2s ease-in;

  @media (min-width: 900px) {
    margin-left: 20px;
  }

  @media (min-width: 1200px) {
    margin-left: 60px;
  }

  &:hover {
    cursor: pointer;
    color: #7e7e7e;
  }

  &:focus {
    color: #555;
    outline: none;
  }
}

.personal {
  padding: 0;
  font-family: TTNorms, Arial, sans-serif;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.locationText {
  display: block;
  max-width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuButton {
  padding: 5px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.mobilePersonal {
  padding: 12px 17px;
  border-radius: 20px;
  background-color: #f4f4f4;
  font-size: 14px;
}
