.container {
  padding: 30px 0;
  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.sideFilter {
  flex-basis: 250px;
  flex-shrink: 0;
  @media (max-width: 767px) {
    height: 100%;
  }
  @media (min-width: 1100px) {
    flex-basis: 297px;
  }
}

.content {
  width: 100%;
  flex-grow: 1;
  @media (min-width: 768px) {
    padding-left: 30px;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.title {
  flex-shrink: 0;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;

  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 1200px) {
    font-size: 32px;
  }
}

.topFilters {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
  }
}

.mobileFilters {
  margin-bottom: 30px;
}

.filterButton {
  border-radius: 0;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  color: #222;
  font-weight: 500;

  &:hover {
    background-color: #e4e4e4;
  }

  &:focus {
    background-color: #e4e4e4;
  }
}

.buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  margin-right: 15px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.tagItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 12px 20px;
  min-width: 95px;
  border-radius: 20px;
  background-color: #22b25c;
  color: #fff;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.tagName {
  margin-right: 10px;
  user-select: none;
}

.tagButton {
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.tagIcon {
  width: 16px;
  height: 16px;
}
