.Gallery {
  position: relative;
  margin: 0 -15px 20px;
  height: 220px;

  @media (min-width: 768px) {
    margin: 0 0 40px;
    height: 330px;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}

.track {
  transition: transform 500ms ease;
  height: 100%;
}

.item {
  float: left;
  line-height: 0;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  max-width: 500px;
  max-height: 100%;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.image {
  width: 100%;
  height: auto;
}
