.WrongUserPage {
  position: relative;

  @media (min-width: 768px) {
    height: 475px;
  }
}

.content {
  position: relative;
  z-index: 1;
  padding-top: 50px;

  @media (min-width: 768px) {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  @media (min-width: 1440px) {
    padding-left: 60px;
  }
}

.title {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 700;

  @media (min-width: 768px) {
    margin: 0 0 42px;
    font-size: 48px;
  }

  @media (min-width: 1440px) {
    font-size: 58px;
    line-height: 68px;
  }
}

.button {
  display: block;
  width: 278px;
  padding: 17px 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #22b25c;
  transition: 0.2s ease-in;

  @media (min-width: 768px) {
    padding: 35px 0;
  }

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    background-color: #7e7e7e;
  }
}

.imageWrap {
  @media (max-width: 767px) {
    text-align: right;
    width: 100%;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 40%;
  }
}
