.Dropdown {
  position: relative;
}

.filledDropdown {
  .trigger {
    padding: 12px 15px;
    width: 100%;
    max-width: none;
    border-radius: 2px;
    background-color: #f8f8f8;
  }

  .triggerText {
    font-size: 14px;
    line-height: 16px;
  }

  .selectedText {
    color: #000;
  }

  .initialText {
    font-weight: 400;
  }

  .overlay {
    left: 0;
    max-width: none;
  }
}

.trigger {
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 150px;
  border: none;
  background-color: transparent;

  &:not(:disabled) {
    color: #7e7e7e;
    transition: 0.2s ease-in;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      color: #000;
      outline: none;
    }
  }
}

.triggerText {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.triggerIcon {
  flex-shrink: 0;
  margin-left: 10px;
}

.openTriggerIcon {
}

.overlay {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  z-index: 3;
  padding: 8px 12px;
  max-width: 250px;
  min-width: 130px;
  max-height: 210px;
  background: #fff;
  border-radius: 2px;
  overflow-y: scroll;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}
