.container {
  padding-bottom: 60px;
  @media (min-width: 768px) {
    padding-top: 60px;
  }
}

.top {
  margin: 0 -15px 20px;
  padding: 30px 15px 20px;
  background-color: #fbf7f3;
  @media (min-width: 768px) {
    margin: 0 0 60px;
    padding: 20px 60px 40px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.autoHead {
  display: flex;
  align-items: flex-start;
}

.imageWrap {
  position: relative;
  display: none;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  overflow: hidden;

  @media (min-width: 768px) {
    display: block;
  }
}

.image {
  position: absolute;
  top: 0;
  padding: 6px;
  width: 100%;
}

.title {
  margin: 0 0 5px;
  font-size: 26px;
  font-weight: 700;
}

.contentInfo {
  display: flex;
  align-items: center;
}

.stock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 85px;
  height: 23px;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #b5a779;
  text-transform: lowercase;
}

.vin {
  font-size: 14px;
  color: #7e7e7e;
}

.companyHead {
  display: flex;
  padding: 20px 30px 16px;
  width: 360px;
  border: 1px solid rgba(#b5a779, 20%);
  border-radius: 8px;

  @media (max-width: 1099px) {
    margin-top: 20px;
    width: 100%;
  }
}

.pinIconWrap {
  align-self: center;
  margin-right: 24px;
}

.pinIcon {
  fill: #b5a779;
}

.dealerContent {
  flex-grow: 1;
}

.dealerName {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.dealerAddress {
  margin: 0;
  font-size: 12px;
  color: #7e7e7e;
}

.shortInfo {
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}

.shortItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  & > * {
    flex-basis: 50%;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: 0 20px;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 1px;
      background-color: #b5a779;
    }

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.shortName {
  display: block;
  font-size: 14px;
  color: #7e7e7e;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.description {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin: 0 60px 60px;
  }
}

.info {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin: 0 60px 60px;
  }
}

.infoTitle {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 500;
  @media (min-width: 768px) {
    margin: 0 0 30px;
    font-size: 22px;
  }
}

.mainFeatures {
  display: flex;
  flex-wrap: wrap;
}

.featureItem {
  flex-basis: 100%;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  margin-bottom: 15px;
  & > * {
    flex-basis: 50%;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    display: block;
    margin-bottom: 30px;
  }
  @media (min-width: 1100px) {
    flex-basis: 400px;
  }
  @media (min-width: 1440px) {
    flex-basis: 300px;
  }
}

.featureName {
  margin-bottom: 9px;
  font-size: 14px;
  color: #7e7e7e;
}

.additionalFeatures {
  position: relative;
  padding-top: 23px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    max-width: 770px;
    background-color: #efece9;
  }

  @media (min-width: 768px) {
    display: flex;
    padding-top: 30px;
  }
}

.additionalFeaturesColumn {
  flex-basis: 50%;
  flex-shrink: 0;
  @media (min-width: 1100px) {
    flex-basis: 400px;
  }
}

.additionalFeatureItem {
  line-height: 28px;
}

.priceSidebar {
  margin-top: 22px;
  padding: 15px;
  width: 100%;
  border-radius: 22px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    top: 0;
    //transform: translateY(-50%);
    margin: 0;
    width: 360px;
    padding: 20px 30px 30px;
  }

  @media (min-width: 768px) and (max-width: 1099px) {
    top: 50px;
  }
}

.pricesTitle {
  margin: 0 0 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #22b25c;
}

.totalPrice {
  margin-bottom: 30px;
}

.basePrice {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.priceWithSale {
  margin-right: 40px;
  color: #000;
}

.priceSale {
  text-decoration: line-through;
  color: #b6b6b6;
}

.salesBlock {
  background: #fbf7f3;
  border-radius: 8px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.saleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  &:first-child {
    padding-top: 20px;
  }
  &:last-child {
    padding-bottom: 20px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #efece9;
  }
}

.saleName {
  line-height: 19px;
  color: #000000;
}

.saleValue {
  font-weight: 700;
  line-height: 19px;
  color: #000000;
}

.paymentsList {
  margin-bottom: 30px;
}

.paymentItem {
  padding: 20px 0;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #efece9;
  }
}

.paymentName {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.paymentValue {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.bookButton {
  @media (max-width: 767px) {
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
    z-index: 3;
    width: calc(100% - 30px);
  }
}
