.DealerMap {
  position: relative;
  margin: 0 -15px;
  height: 320px;

  @media (min-width: 768px) {
    margin: 0;
    height: 570px;
    border: 1px solid #d8d8d8;
    border-radius: 12px;
    overflow: hidden;
  }
}

.dealerInfo {
  display: none;
  position: absolute;
  left: 16px;
  right: 16px;
  z-index: 2;
  align-items: flex-start;
  padding: 20px 30px;
  border-radius: 22px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  bottom: 30px;

  @media (min-width: 768px) {
    top: auto;
    left: auto;
    bottom: 30px;
    right: 60px;
  }

  &.visible {
    display: flex;
  }
}

.pinWrap {
  margin-top: 10px;
  margin-right: 24px;
}

.name {
  max-width: 250px;
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 500;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.ratingIcon {
  margin-right: 2px;
}

.address {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  color: #7e7e7e;
}

.phone {
  font-size: 22px;
  color: #020202;
  text-decoration: none;
  transition: 0.2s ease-in;

  &:hover,
  &:focus {
    cursor: pointer;
    color: #7e7e7e;
    outline: none;
  }
}
