.Range {
  height: 4px;
}

.singleRange {
  .activeTrack::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    right: 100%;
    width: 7px;
    background-color: #22b25c;
  }
}

.doubleRange {
  .track::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    right: 100%;
    width: 7px;
    background-color: #e4e4e4;
  }
}

.wrap {
  padding-left: 7px;
  padding-right: 12px;
}

.track {
  height: 4px;
  border-radius: 0;
  background-color: #e4e4e4;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 0;
    width: 12px;
    background-color: #e4e4e4;
  }
}

.activeTrack {
  background-color: #22b25c;
  border-radius: 0;
}

.sliderContainer {
  z-index: 2;
}

.slider {
  top: calc(50% - 3px);
  width: 22px;
  height: 22px;
  background-color: #22b25c;
  border: 2px solid #fff;
}

.label,
.valueLabel {
  display: none;
}

.values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.minValue,
.maxValue {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  font-family: TTNorms, Arial, sans-serif;
}

.value {
  margin-top: 25px;
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
