.LocationSelector {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;

    .city {
      color: #000;
    }
  }
}

.city {
  margin-left: 10px;
  color: #7e7e7e;
  transition: 0.2s ease-in;
}
