.Button {
  width: 100%;
  font-family: TTNorms, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #22b25c;
  border: none;
  border-radius: 8px;
  transition: 0.2s ease-in;

  &:hover {
    cursor: pointer;
    background-color: lighten(#22b25c, 15%);
  }

  &:focus {
    outline: none;
    background-color: lighten(#22b25c, 7%);
  }
}

.inverseButton {
  color: #22b25c;
  background-color: #fff;

  &:hover {
    background-color: #f3f3f3;
  }

  &:focus {
    background-color: #f0f0f0;
  }
}

.defaultSize {
  padding: 16px 0;
}

.bigSize {
  padding: 18px 0;
}
