.Button {
  padding: 16px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #22b25c;
  border: none;
  border-radius: 8px;
  transition: 0.2s ease-in;

  &:hover {
    cursor: pointer;
    background-color: lighten(#22b25c, 15%);
  }

  &:focus {
    outline: none;
    background-color: lighten(#22b25c, 7%);
  }
}
