.Layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.content {
  position: absolute;
  z-index: 11;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;

  @media (min-width: 768px) {
    top: 100px;
    left: 50%;
    right: initial;
    bottom: initial;
    transform: translateX(-50%);
  }

  @media (min-width: 1441px) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.closer {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  background-color: #239b53;

  @media (min-width: 768px) {
    width: 44px;
    height: 44px;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.closerIcon {
  @media (max-width: 767px) {
    width: 8px;
    height: 8px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
}
